.main-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	align-items: center;
	padding: 30px 0 30px 0;
	
	&__nav {
		display: flex;
		justify-content: inherit;
	}
	
	&__block {
		flex-direction: row;
		justify-content: center;
		width: 1024px;
		padding-bottom: 50px;
	}
	
	&__content {
		display: flex;
		flex-direction: row;
		margin-top: 24px;
	}
	
	&__slider {
		width: 80%;
		height: 600px;
	}
	
	&__slider ul li {
		padding-right: 0;
	}
	
	&__slider img {
		height: 600px;
	}

	&__information {
		font-size: 14px;
		margin-top: 0;
		margin-bottom: 0;
	}

	&__information::before {
		content: 'Доп. информация: ';
		color: gray;
		font-size: 12px;
	}

	&__header {
		margin-bottom: 0;
	}
}

.tab {
	display: flex;
	align-items: center;
	height: 35px;
	margin-right: 5px;
	
	&__link, &__link:visited {
		color: #FFFFFF;
		background-color: #0267C1;
		//	 padding: 10px;
		//	 margin-bottom: 8px;
		cursor: pointer;
	}

	&__link {
		color: #FFFFFF;
		height: 100%;
		display: flex;
		align-items: center;
		padding: 0 8px;
	}

	&.--active &__link, &.--active {
		background-color: #d6d5d5;
		color: black;
	}

	&.--active {
		padding: 0 8px;
	}
}

.tabs {
	width: 100%;
	padding: 0;
	margin: 0;
	border: 0px;
	display: flex;
	flex-direction: row;
}







