.main-notes {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	align-items: center;
	padding-top: 30px;
  
	&__block {
	  display: flex;
	  flex-direction: row;
	  justify-content: center;
	  width: 1024px;
	  padding-bottom: 50px;
	}
  
	&__content {
	  padding: 0 20px 0 0;
	}
  
  }
  
  .notes-content {
	border: 1px solid black;
  
	&__titleColumn {
	  font-size: 22px;
	}
  
	&__linksColumn {
	  color: #FFFFFF;
	  background: #0267C1;
	}
  
	&__linksColumn a {
	  color: #FFFFFF;
	}
  
	&__linksColumn:hover {
	  background: #FFFFFF;
	  border: 1px solid black;
	}
  
	&__link {
		background-color:#6fba26;
		padding:10px;
		position:relative;
		font-family: 'Open Sans', sans-serif;
		font-size:12px;
		text-decoration:none;
		color:#fff;
		background-image: linear-gradient(bottom, rgb(100,170,30) 0%, rgb(129,212,51) 100%);
		box-shadow: inset 0px 1px 0px #b2f17f, 0px 6px 0px #3d6f0d;
		border-radius: 5px;
	  }
  
	&__link:active {
		top:7px;
		background-image: linear-gradient(bottom, rgb(100,170,30) 100%, rgb(129,212,51) 0%);
		box-shadow: inset 0px 1px 0px #b2f17f, inset 0px -1px 0px #3d6f0d;
		color: #156785;
		text-shadow: 0px 1px 1px rgba(255,255,255,0.3);
		background: rgb(44,160,202);
	  }
  
  }
  
  .notes-sidebar {
  
	ul {
	  padding: 20px 0 20px 0;
	  border-bottom: 1px solid #000000;
	}
  
	ul li {
	  list-style-type: none; /* Убираем маркеры */
	}
  
	input {
	  display: flex;
	  flex-direction: row;
	  justify-content: flex-start;
	  align-items: flex-start;
	  margin: 0 5px 0 0;
	  padding: 0;
	  height: 15px;
	  width: 15px;
	}
  
	&__content {
	  padding: 20px 0 20px 0;
	}
	.Column1 {
		width: 80%;
		padding: 0;
		font-weight: 200;
		font-size: 18px;
	}
	
	.Column2 {
		width: 20%;
		margin: 50px 0 0 50px;
		display: flex;
		flex-direction: column;
		font-size: 14px;
	}
	
	.Column2>ul>li {
		padding: 10px;
		border-bottom: 1px solid #d2d2d2;
		width: 220px;
	}
	
	.ulContent {
		margin: 0;
		list-style-type: none;
	}
	
	.Column2 ul {
		margin: 0;
		padding: 0;
		list-style-type: none;
	}
	
	.Column2 input {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: flex-start;
		margin: 0 5px 0 0;
		padding: 0;
		height: 15px;
		width: 15px;
	}
	
	.Column2 label {
		margin: 0;
		padding: 0;
	}
	
	.Search input {
		height: 25px;
		width: 215px;
	}
	
	button {
		background: #0267c1;
		width: 100px;
		height: 50px;
		border-style: none;
		border-radius: 4px;
	}
	
	button a:visited  {
		color: #FFFFFF;
	}
	
	button a:hover  {
		background: #FFFFFF;
		color: #393C3E;
		border: 1px solid;
	}
	
	
	.Genres {
		display: flex;
		flex-direction: column;
		list-style: none;
	}
	
	.Genres > li {
		font-size: 24px;
		border-bottom: 1px solid black;
	}
	
	
	
	.ContentPages {
		padding: 0;
		margin: 0;
		list-style: none;
		max-width: 100%;
	}
	
	.ContentPages > li > img {
		width: 100%;
	}
  }
  

  
  
 .kovalsky-table {
	td {
		width: 80%;
		padding-bottom: 30px;
	}
	
	
	table {
		width: 100%;
		padding-right: 40px;
	}
}
  