.sax-player {
	width: 100vw;
	position: fixed;
	bottom: 0;
}

.player-left-bottom {
	width: 1024px;
	margin: 0 auto;
	background-color: whitesmoke;
	border: 1px solid lightgray;
	padding: 10px 5px;
	box-sizing: border-box;
}

.progress-container {
	width: 70%;
	float: left;
	position: relative;
	height: 20px;
	cursor: pointer;
}

.progress-container input[type=range] {
	-webkit-appearance: none;
	width: 100%;
	margin: 7.5px 0;
	position: absolute;
	z-index: 9999;
	top: -7px;
	height: 20px;
	cursor: pointer;
	background-color: inherit;
}

.song-played-progress {
	width: 100%;
	position: absolute;
	left: 0;
	top: 8px;
	right: 0;
	width: 100%;
	z-index: 60;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	height: 4px;
	border-radius: 5px;
	background: transparent;
	border: none;
}

.song-buffered-progress {
	position: absolute;
	left: 0;
	top: 8px;
	right: 0;
	width: 100%;
	z-index: 10;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	height: 4px;
	border-radius: 5px;
	background: transparent;
	border: none;
	background-color: #D7DEE3;
}

.close-player, .amplitude-play-pause, .speedButton {
	color: white;
	width: 50px;
	height: 25px;
	margin-right: 3px;
	
    border-color: #0267c1;
    border-width: 1px;
    border-radius: 4px;
    background-color: #0267c1;
}

.speedButton:last-child {
	margin-right: 0;
}

.amplitude-play-pause {
	color: white;
	width: 50px;
	height: 25px;
	margin-bottom: 3px;
}

.close-player {
	color: white;
	padding: 3px 6px;
	width: auto;
	height: auto;
}

.time-container {
	display: flex;
}

.central-controls {
	display: flex;
	flex-direction: row;
}

.amplitude-play-pause {
	margin-right: 8px;
	margin-left: 8px;
}