.hero {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 600px;
    overflow: hidden;
    margin: 0 auto;
}


.hero img  {
    object-fit: cover;
    width: 100%;
    height: 600px;

}

.video {
    display: flex;
    flex-direction: column;
    justify-content: center;

    object-fit: cover;
    width: 100%;
    /*width:100%;
    height: 100%;*/

}