.header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    max-width: 1024px;
    width: 100%;

    font-family: 'Roboto-Medium', sans-serif;
    font-weight: 100;
    font-size: 12px;

    padding-top: 10px;
}

.column2 {
    padding-right: 10px;
}

.column2 ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.column2 li{
    padding-left: 10px;
}

.icons1 {
    color: #393939;
    padding-right: 10px;
}

.icons2 {
    color: #777777;
    padding-right: 5px;
}

.icons3 {
    color: #393939;
    padding-right: 5px;
}

a {
    /*color: #393C3E;*/
    color: #000000;
    text-decoration: none;
}

a:visited {
    color: #393C3E;
}

a:active {
    color: #393C3E;
}

@media only screen and (max-width: 992px) {
    .TopHeader {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        max-width: 700px;
        width: 100%;
    }
}

@media only screen and (max-width: 768px) {
    .TopHeader {
        display: none;
    }
}

@media only screen and (max-width: 480px) {
    .TopHeader {
        display: none;
    }
}



.nav {
    display: flex;
    width: 100%;
    justify-content: center;

    font-family: 'Roboto-Medium', sans-serif;
    font-weight: 500;

    position: sticky; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    background: white;

}

.nav > div {
    display: flex;
    max-width: 1024px;
    width: 100%;
    justify-content: space-between;
}

/* Стили иконок */
.icons {
    padding-top: 10px;
    padding-bottom: 10px;
    /*color: #393C3E;*/
}

.icon {
    padding-top: 10px;
}
.icon img {
    width: 18px;
    height: 18px;
}

/* Меню */
/*.menu {*/
/*    margin-left: 0;*/
/*}*/

.menu * {
    margin: 0;
    padding: 0;
}

.menu ul {
    list-style: none;
}

.menu > ul {
    display: flex;
    justify-content: center;
}

.toggleButton {
    border: 1px solid black;
}

/*.menu > ul li {*/
/*    padding: 10px;*/
/*}*/

/*.menu > ul li:last-child {*/
/*    padding-right: 0;*/
/*}*/

.menu > ul li a{
    display: block;
    padding: 10px;
    font-size: 14px;
    position: relative;
    text-transform: uppercase;
}

.menu ul li+li a::after {
    color: #151515;
    position: absolute;
    /*left: -12px;*/
    left: -4px;
    content: "|";
}

.menu > ul li{
    position: relative;
}

.menu a {
    /*color: #393C3E; !* Цвет обычной ссылки *!*/
    color: #000000; /* Цвет обычной ссылки */
    text-decoration: none; /* Убираем подчеркивание у ссылок */
}

.menu a:active {
    color: #0267c1; /* Цвет активной ссылки */
}

.menu li a:hover {
    color: #0267C1; /* Цвет ссылки при наведении на нее курсора мыши */
    /*background: #141618;*/
}

/*Подменю*/
.menu li ul{
    position: absolute;
    display: none;
    background: white;
    border: 1px solid #c7c8ca;
    min-width: 200px;
}

.menu li > ul li a{
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    text-transform: none;
    font-family: 'Roboto-Regular', sans-serif;
    font-weight: 400;
}

.menu li > ul li ul {
    position: absolute;
    right: -200px;
    top: 0;
}

.menu li > ul li:first-child{
    padding-top: 20px;
    text-transform: none;
}

.menu li > ul li:last-child{
    padding-bottom: 20px;
    text-transform: none;
}

.menu li:hover > ul{
    display: block;
}

/* Адаптация для мобильных устройств */
@media only screen and (max-width: 992px) {
    .Nav {
        display: flex;
        width: 100%;
        justify-content: center;

        position: sticky; /* Set the navbar to fixed position */
        top: 0; /* Position the navbar at the top of the page */
        background: white;
    }

    .Nav > div {
        display: flex;
        max-width: 700px;
        justify-content: space-between;
    }
}

@media only screen and (max-width: 768px) {
    .Nav {
        width: 100px;
    }
}

/* Код для адаптивного меню */
.toggleButton[type="checkbox"] {
    display: none;

}

.menu label.toggleMenu {
    cursor: pointer;
}

.menu label.toggleMenu .fa {
    position: absolute;
    top: 15px;
    left: 12px;
    font-size: 18px;

}

.toggleMenu {
    display: none;
}

@media all and (max-width: 480px) {
    .toggleMenu {
        display: flex;
    }

    .Nav {
        width: 100px;
    }

    .menu {
        overflow: hidden;

    }

    .menu {
        display: none;
    }

    .menu > ul {
        flex-direction: column;
    }

    .toggleButton:checked + label + .menu {
        display: block;
    }
}




//Footer
.footer {
    display: flex;
    justify-content: center;
    height: 30vh;
    width: 100%;
    background: #141618;
    padding-top: 60px;
    padding-bottom: 0px;

    color: white;
    font-family: 'Roboto-Regular', sans-serif;
    font-weight: 100;
    font-size: 10px;
    line-height: 2em;
}

.footer > div {
    display: flex;
    flex-direction: row;
    max-width: 1024px;
    width: 100%;
}

.fcolumn1 {
    display: flex;
    flex-direction: column;
    width: 25%;
    padding-right: 20px;
}

.fcolumn2 {
    display: flex;
    flex-direction: column;
    width: 25%;

}

.fcolumn3 {
    display: flex;
    flex-direction: column;
    width: 25%;
    padding-right: 20px;
}

.fcolumn4 {
    display: flex;
    flex-direction: column;
    width: 20%;

}

.fcolumn3 .icons {
    font-size: 13px;
    padding-right: 10px;
}

.fcolumn4 .icons {
    font-size: 13px;
    padding-right: 10px;
}

.fcolumn5 {
    display: flex;
    flex-direction: row;
}

.fcolumn {
    text-align: left;
}

.footer span {
    padding-bottom: 20px;
    font-family: 'Roboto-Regular', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.footer a {
    color: #777777;
}

.ficons {
	height: 10px;
    padding-right: 5px;
    color: #777777;
    text-align: center;
}

@media only screen and (max-width: 992px) {
    .footer {
        display: flex;
        justify-content: center;
        flex-direction: row;
        max-width: 992px;
        width: 100%;
    }

    .footer > div {
        display: flex;
        flex-direction: row;
        max-width: 700px;
        width: 100%;
    }
}

@media only screen and (max-width: 768px) {
    .footer {
        display: flex;
        justify-content: center;
        flex-direction: row;
        max-width: 768px;
        width: 100%;
    }

    .footer > div {
        display: flex;
        flex-direction: row;
        max-width: 300px;
        width: 100%;
    }

    .fcolumn1 {
        display: flex;
        flex-direction: column;
    }

    .fcolumn2 {
        display: flex;
        flex-direction: column;
    }

    .fcolumn3 {
        display: flex;
        flex-direction: column;
    }

    .fcolumn4 {
        display: flex;
        flex-direction: column;
    }

}

@media only screen and (max-width: 480px) {
    .footer {
        display: flex;
        justify-content: center;
        flex-direction: row;
        max-width: 480px;
        width: 100%;
    }

    .footer > div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 300px;
        width: 100%;
    }

    .fcolumn1 {
        display: none;
    }

    .fcolumn2 {
        display: none;
    }

    .fcolumn3 {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .fcolumn4 {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}
