.main-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	align-items: center;
	padding: 30px 0 30px 0;
  
	&__nav {
	  display: flex;
	  justify-content: inherit;
	}
  
	&__nav ul li {
	  display: inline; /* Отображать как строчный элемент */
	  margin-right: 5px; /* Отступ слева */
	  width: 1024px;
	}
  
	ul li {
	  list-style-type: none; /* Убираем маркеры */
	}
  
	&__block {
	  flex-direction: row;
	  justify-content: center;
	  width: 1024px;
	  padding-bottom: 50px;
	}
  
	&__content {
	  display: flex;
	  flex-direction: row;
	}
  
	&__slider {
	  width: 80%;
	  height: 600px;
	}
  
	&__slider ul li {
	  padding-right: 0;
	}
  
	&__slider img {
	  height: 600px;
	}
  
	&__link, &__link:visited {
	  color: #FFFFFF;
	  background-color: #0267C1;
	  padding: 10px;
	  margin-bottom: 8px;
	  display: inline-block;
	  cursor: pointer;
	}
  
	&__link a {
	  color: #FFFFFF;
	}
  
	&__link.--active {
	  background-color: #d6d5d5;
	  color: black;
	}
  
	&__links:hover {
	  background: #FFFFFF;
	  border: 1px solid black;
	}
  
  }