.main-summer-school {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	align-items: center;
	padding-top: 30px;

	p {
		font-size: 18px;
		line-height: 2;
		letter-spacing: 1px;
	}

	h2 {
		margin: 10px;
	}

	h3 {
		margin: 0;
	}

	&__content p {
		font-size: 18px;
		line-height: 2;
		letter-spacing: 1px;
		text-align: center;
	}

	&__content ul li {
		font-size: 18px;
		line-height: 2;
		letter-spacing: 1px;
		padding-right: 50px;
	}

	&__block {
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 1024px;
		padding-bottom: 50px;
	}

	&__content {
		display: flex;
		flex-direction: row;
		justify-content: center;
		width: 1024px;
		padding-top: 30px;
		padding-bottom: 30px;
	}

	&__content img {
		height: 340px;
	}

	&__text {
		display: flex;
		flex-direction: column;
		width: 100%;
		justify-content: center;
		padding: 0 30px 0 30px;
	}

	&__textCenter {
		display: flex;
		flex-direction: column;
		width: 100%;
		padding: 0 30px 0 30px;
	}

	&__textCenter ul li {
		margin: 0;
		padding: 0;
	}

	&__slider {
		width: 100% !important;
		height: 330px;
	}

	&__slider ul li {
		padding-right: 0;
	}

	&__slider img {
		height: 130px;
	}

	&__slider p {
		font-size: 16px;
		line-height: 2;
		letter-spacing: 1px;
		text-align: justify;
		margin: 0;
	}

	&__sliderContent {
		display: flex;
		flex-direction: row;
		justify-content: center;
		padding: 60px;
	}

	&__sliderBlockContent1 {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		width: 20%;
	}

	&__sliderBlockContent2 {
		display: flex;
		flex-direction: row;
		justify-content: start;
		width: 80%;
		padding: 10px;
	}

	&__sliderFoto {
		width: 100% !important;
		height: 430px;

	}

	&__sliderFoto img {
		height: 430px;
	}

	&__video {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding: 30px;
	}

	&__videoCenter {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding: 30px;
	}

	&__blue {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background: #f7fcfe;
		width: 100%;
		padding-top: 60px;
		padding-bottom: 60px;
	}

	&__white {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background: white;
		width: 100%;
		padding-top: 60px;
		padding-bottom: 60px;
	}

	&__background {
		// background-image: url('public/main.jpg');
		height: 600px;
		width: 100%;
		background-size: cover;
		background-position: center;
	}

	&__background img {
		object-fit: cover;
		width: 100%;
		height: 600px;
	}

	&__chess {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		flex-wrap: wrap;
		width: 1024px;
		padding-top: 80px;
	}

	&__container {
		width: 512px;
		height: 300px;
		background: white;
	}

	&__container img {
		width: 512px;
		height: 300px;
	}

	&__form {
		display: flex;
		flex-direction: column;
		justify-content: center;

	}

	form {
		display: flex;
		flex-direction: column;
		width: 900px;
		margin: auto;
		padding: 50px 200px 0px 200px ;
	}

	button {
		width: 110px;
		height: 40px;
		border-style: none;
		color: #FFFFFF;
		background: #0267C1;
		margin-top: 30px;
	}

	button a:visited  {
		color: #FFFFFF;
	}

	button:hover  {
		background: #FFFFFF;
		color: #000000;
		border: 1px solid;
	}

}

.summer-school-inclusive {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
	padding-top: 60px;
	padding-bottom: 60px;
	margin: 0 80px 0 80px;

	&__block {
		display: flex;
		flex-direction: row;
		align-content: center;
		margin: 10px;
		padding: 0 20px 20px 20px;
		width: 500px;
	}

	&__block img {
		height: 80px;
		padding-right: 10px;
	}

	&__block p{
		margin: 0;
		text-align: start;
	}

	&__text {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		padding-left: 30px;
	}

	&__text h3 {
		text-align: start;
		padding-bottom: 10px;
	}

	&__text p {
		font-size: 14px;
		line-height: 2;
		letter-spacing: 1px;
	}

}