.main-genres {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  &__block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 1024px;
    padding-bottom: 50px;
    flex-flow: wrap;
  }

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 10px;
    background-image: url('http://www.soffitto76.ru/images/ShopProducts/5664c4116a5cc_428-auto.jpg');
    width: 300px;
    height: 300px;
  }

  &__container500 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 10px;
    background-image: url('http://www.soffitto76.ru/images/ShopProducts/5664c4116a5cc_428-auto.jpg');
    width: 450px;
    height: 300px;
  }

  &__container:hover {
    opacity: 1;
  }

  a {
    color: white;
    display: flex;
    justify-content: center;

  }
}